@{
    ViewData["Title"] = "Cat Wiki";
}
<div class="body">
    <div class="main">
        <div class="main-text">
            <div class="main-text-text">
                <img src="~/img/logocat.png" class="img-logo-cat" alt="Logo" />
                <h4 class="img-logo-text">Get to know more about your cat breed</h4>
            </div>
        </div>
        <img src="~/img/HeroImagelg.png" class="img-cat" alt="cat image" />
    </div>
    <div class="baner-content">
        
    </div>
</div>