@{
    ViewData["Title"] = "Cat Wiki";
}
<div class="body">
    <div class="main">
        <div class="main-text">
            <div class="main-text-text">
                <div class="img-logo-container">
                    <img src="~/img/logocat.png" class="img-logo-cat" alt="Logo" />
                </div>
                <h4 class="img-logo-text">Get to know more about your cat breed</h4>
                <div class="search">
                    <input type="text" name="name" class="search-input" />
                    <button type="submit" class="button">
                        <img src="~/img/magnify.svg" class="img-button" alt="Alternate Text" />
                    </button>
                </div>
            </div>
        </div>
        <div class="img-cat">
            <!--img-->
        </div>
    </div>
    <div class="baner-content">
        <div class="baner-title">
            <h3 class="baner-title-text">Most </h3>
            <h3 class="baner-title-text2">Searched Breeds</h3>
        </div>
        <div class="baner-content-title">
            <h1 class="baner-content-title-inside">66+ Breeds For you to discover</h1>
            <div class="baner-content-link">
                <a href="~/home" style="color: #291507;font-weight:bold;">SEE MORE</a>
            </div>
        </div>
        <div class="galery">
            <div class="grid">
                <div class="grid-img">
                    <img src="~/img/cat1.png" class="img-cats" alt="Cat 1" />
                </div>
                <p class="classification">Bengala</p>
            </div>
            <div class="grid">
                <div class="grid-img">
                    <img src="~/img/cat1.png" class="img-cats" alt="Cat 1" />
                </div>
                <p class="classification">Bengala</p>
            </div>
            <div class="grid">
                <div class="grid-img">
                    <img src="~/img/cat1.png" class="img-cats" alt="Cat 1" />
                </div>
                <p class="classification">Bengala</p>
            </div>
            <div class="grid">
                <div class="grid-img">
                    <img src="~/img/cat1.png" class="img-cats" alt="Cat 1" />
                </div>
                <p class="classification">Bengala</p>
            </div>
        </div>
    </div>
    <div class="baner-have-cat">
        <div class="baner-have-cat-text">

        </div>
    </div>
</div>