.body {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main {
    height: 17rem;
    width: 100%;
    background-color: black;
    display: flex;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    align-items: center;
}
.img-cat {
    height: 100%;
    width: 50%;
    border-top-right-radius: 2rem;
    background-image: url("/img/HeroImagelg.png");
    background-size:cover;
    background-position-x:right;
}
.main-text{
    height:100%;
    width:50%;
}
.baner-content {
    background-color: #E3E1DC;
    width: 100%;
    padding-bottom:1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #E3E1DC;
}
.main-text-text{
    width:70%;
    height:100%;
    margin:auto;
}
.img-logo-container {
    width: 50%;
    margin: auto;
}
.img-logo-cat {
    width: 16rem;
    margin: auto;
    object-fit: cover;
}
.img-logo-text {
    width: 70%;
    height: 2rem;
    color: white;
    font-size: 1.0rem;
    padding: 0;
    margin: auto;
    margin-bottom: 2rem;
}
.search-input {
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 1.6rem;
}
.search{
    width:70%;
    height:2.3rem;
    display:flex;
    align-items:center;
    border:0.3rem solid white;
    border-radius:1.6rem;
    background-color:white;
    margin:auto;
}
.img-button{
    border:none;
    text-decoration:none;
}
.button {
    border: none;
    text-decoration: none;
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 1.6rem;
}
.button:hover{
    background-color:lightgray;
}
.button::selection{
    background-color:lightgray;
}
.form {
    border: none;
    background-color: #E3E1DC;
}


.baner-title {
    width: 90%;
    height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
}
.baner-title-text {
    padding: 0;
    margin: 0;
    border-bottom: 0.2rem solid black;
    padding-right:0.4rem;
}
.baner-title-text2 {
    padding: 0;
    margin: 0;
    border-bottom: 0.2rem solid #E3E1DC;
}
.baner-content{
    width:100%;
    height:50%;
    margin-bottom:1rem;
}
.baner-content-title {
    width: 90%;
    height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.baner-content-title-inside{
    width:34%;
    height:100%;
}
.baner-content-link {
    height: 100%;
    width: 20%;
    display:flex;
}
    .baner-content-link a {
        display: inline-block;
        align-self: flex-end;
        border:none;
        text-decoration:none;
        margin:auto;
        color:black;
    }
    .baner-content-link a:active{
        color:white;
    }
.galery {
    display: inline-grid;
    width: 90%;
    height: 10rem;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 90%;
    justify-content: space-around;
    margin-left:3%;
}
.grid{
    width:100%;
    margin:auto;
    height:90%;
}
.img-cats {
    width: 100%;
    height: 100%;
    margin:auto;
    border-radius:1rem;
    object-fit: cover;
}
.grid-img {
    width: 100%;
    height: 100%;
    margin: auto;
}
.classification {
    width: 100%;
    height: 1rem;
    padding: 0;
    font-family: Montserrat;
    font-weight:bold;
    margin: 0;
}

/* Baner 2 =============================== */

.baner-have-cat{
    height:auto;
    width:100%;
    display:flex;
    margin-bottom:2rem;
    margin-top:2rem;
}
.baner-have-cat-text{
    width:50%;
    height:25rem;
    display:flex;
    align-items:center;
}
.baner-have-text{
    width:50%;
    height:25rem;
    display:flex;
}
.img1{
    width:50%;
    height:100%;
}

    .img1 + img {
        height:80%;
    }

.img2{
    width:90%;
    float:right;
}
.img3{
    width:55%;
    margin:auto;
    float:right;
}

.baner-cat-text {
    width: 80%;
    height: 80%;
    margin: auto;
}

.baner-cat-text1 {
    width: 90%;
    height: 35%;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: bold;
    margin: auto;
}
    .baner-cat-text1 h1 {
        font-weight: bold;
        margin:auto;
        padding:0;
    }
    .baner-cat-text1 h4 {
        padding:0;
        margin:auto;
    }
.baner-cat-text2 {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: bold;
    margin: auto;
}
    .baner-cat-text2 a {
        color: #291507;
        border:none;
        text-decoration:none;
    }
    /* Responsible ========================== */
    @media only screen and (max-width: 1000px) {
        .galery {
        height: 75%;
        grid-template-columns: 40% 40%;
        grid-template-rows: 50% 50%;
    }
    .baner-content-title-inside {
        font-size:larger;
    }
    .grid {
        width: 100%;
        margin: auto;
        height: 80%;
    }
    .body {
        width: 90%;
    }
    .img-cat {
        background-image: url("/img/HeroImagesm.png");
    }
    .search {
        width: 100%;
        height: 2.1rem;
    }
    .img-logo-text {
        width: 90%;
    }
    .img-logo-cat {
        width: 14rem;
    }
        .img1 + img {
            height: 17rem;
        }

        .img2 {
            width: 12rem;
            float: right;
        }

        .img3 {
            width: 9rem;
            margin: auto;
        }
}

@media only screen and (max-width: 600px) {
    .galery {
        height: 75%;
        grid-template-columns: 40% 40%;
        grid-template-rows: 50% 50%;
    }

    .baner-content-title-inside {
        font-size: small;
        width: 50%;
    }

    .grid {
        width: 100%;
        margin: auto;
        height: 80%;
    }

    .body {
        width: 90%;
    }

    .img-cat {
        background-image: url("/img/HeroImagesm.png");
    }

    .search {
        width: 100%;
        height: 1rem;
    }

    .img-logo-text {
        width: 100%;
        font-size: 0.5rem;
        padding: 0;
        margin: 0;
    }

    .img-logo-cat {
        width: 7.5rem;
        margin-top: 0.6rem;
    }

    .main {
        height: 10rem;
    }

    .baner-have-cat {
        display: block;
    }

    .baner-have-cat-text {
        width: 90%;
        margin: auto;
    }

    .baner-have-text {
        width: 90%;
        margin: auto;
    }

}